$width-xl: 1200px;
$width-lg: 1024px;
$width-lmd: 991px;
$width-md: 768px;
$width-sm: 600px;

$breakdown-to-mobile: $width-md;


$blue: #53ACE0;
$blue-darker: #05518F;
$orange: #EC801F;
$dark: #3D3B3A;

$grey-light: #E5E5E5;


$container-padding-big: 80px;
$container-padding: 35px;
$container-padding-small: 15px;

$text-section-padding-right: 19%;

$tablet_big: 991px;

$mobile_big: 600px;

